{
  "presets": [
    ["env", { "modules": false }],
    "es2015",
    "stage-0",
    "flow",
    "flow-vue"
  ],
  "plugins": [
    // [
    //   "typecheck",
    //   {
    //     "disable": {
    //       "production": true
    //     }
    //   }
    // ],
    "syntax-flow", // 支持解析 flow
    // "transform-flow-strip-types",
    "syntax-jsx",  // 支持解析 jsx
    "transform-vue-jsx",  // 支持 vue 直接 render JSX 语法
    "transform-decorators-legacy", // vue-class-component
    "transform-class-properties",
    "syntax-dynamic-import",
    "transform-runtime"
  ],
  "ignore": [
    // "packages/**/*.js",
    "dist/*.js"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-0"],
      "plugins": [ "istanbul" ]
    }
  }
}
