{
  "presets": [
    ["env", { "modules": false }],
    "es2015",
    "stage-0",
    "flow",
    "flow-vue"
  ],
  "plugins": [
    // [
    //   "typecheck",
    //   {
    //     "disable": {
    //       "production": true
    //     }
    //   }
    // ],
    // "syntax-flow",
    // "transform-flow-strip-types",
    "transform-vue-jsx",
    // "transform-class-properties",
    "syntax-dynamic-import",
    "transform-runtime"
  ],
  "ignore": [
    // "packages/**/*.js",
    "dist/*.js"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-0"],
      "plugins": [ "istanbul" ]
    }
  }
}
