// package: Button
// =============================================================================

// button 实现力求精简，其实只需要 core 部分即可，
// 默认支持 主题色、尺寸、块样式、禁用样式、激活样式
$button-padding-base = 8px 13px; // 10px 15px
$button-line-height  = 1.2;
$button-font-size    = 14px;

$btn-ghost-color        = #666;
$btn-ghost-background   = #fff;
$btn-ghost-border       = #d9d9d9;

$btn-disabled-color      = #ccc;
$btn-disabled-background = #f3f5f7;
$btn-disabled-border     = #d9d9d9;

//默认高度为 30 32 34 36 38 五中尺寸，可灵活更改字体大小
//匹配12px 字体，有高度为 22 26 30 36 42
//匹配14px 字体，比上各大2px
$button-padding-sizes = {
  xs: 4px 6px,     //22
  sm: 6px 10px,    //30
  md: 10px 15px,   //36
  lg: 14px 15px,   //44
};

// mixin
// -----------------------------------------------------------------------------
// 包含 button-style button-color button-size
// 必须定义的变量
// $button-padding $button-font-size $button-line-height
button-color($background, $color, $border = transparent) {
  color: $color;
  border-color: $border;
  background-color: $background;
}

button-size($padding = $button-padding-base, $font-size = $button-font-size, $line-height = $button-line-height) {
  padding: $padding;
  font-size: $font-size;
  line-height: $line-height;
}

button-style($background, $color = $white, $border = transparent) {
  button-color($background, $color, $border);

  &:hover {
    cursor: pointer;
    button-color(lighten($background, 5%), lighten($color, 5%), lighten($border, 5%));
  }

  &:active,
  &.active {
    button-color(darken($background, 5%), darken($color, 5%), darken($border, 5%));
  }
}


.__button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  // font-weight: $btn-font-weight;

  // 边框是否复合来实现? 还是说默认应该具备某些属性
  border: 1px solid transparent;

  // touch-action 手势 触控时控制滚动操作
  // 参见：http://wf.uisdc.com/cn/input/touch-input/touchevents/
  touch-action: manipulation; //允许浏览器双方向滚动，也允许双指缩放；但忽略其他手势。

  // appearance: none;   //改变元素的默认渲染风格
  &:only-child {
    margin-bottom: 0;
  }

  transform: translate3d(0, 0, 0); // 这个做什么，启动3D 加速？
  // Fix for ie8 border-radius
  // http://css3pie.com/documentation/known-issues/#z-index
  position: relative\0;

  > .iconfont {
    line-height: 1;
  }
}

.__button-status {

  &,
  &:active,
  &:focus {
    outline: 0;
  }

  // hover-focus {
  //   text-decoration: none;
  // }

  // &:focus {
  //   tab-focus();
  // }

  &:active,
  &.active {
    background-image: none;
  }

  &:not([disabled]):hover {
    text-decoration: none;
  }

  &:not([disabled]):active {
    outline: 0;
    transition: none;
  }


  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,  //TODO 需要写这一层么，待测试？
    &:hover,
    &:active,
    &.active {
      transition: none;

      // https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
      pointer-events: none; // Disable mouse events

      cursor: $cursor-disabled;

      // opacity: .65;
      button-color($btn-disabled-background, $btn-disabled-color, $btn-disabled-border);
    }
  }
}


// Core
// -----------------------------------------------------------------------------
.{$ns}btn {
  @extend .__button;

  // button-size();
  transition(all .3s ease-in-out);

  // 默认样式，大小
  button-style($gray-lighter, $white, $color-gray);
  button-size($button-padding, $font-size-base, $line-height-base);

  @extend .__button-status;
}



// // Future-proof disabling of clicks on `<a>` elements
// a.{$ns}btn.disabled,
// fieldset[disabled] a.{$ns}btn {
//   pointer-events: none;
// }



// 主题按钮样式 (空心、虚边框单独处理，可被覆盖)
// -----------------------------------------------------------------------------
// primary info success warning danger ghost
.{$ns}btn-dashed {
  border-style: dashed;
}
.{$ns}btn-ghost {
  button-style($btn-ghost-color, $btn-ghost-background, $btn-ghost-border);
}
for $color-key, $color in $theme-colors {
  .{$ns}btn-{$color-key} {
    button-style($color);
  }
}

// 加载中
.{$ns}btn-loading {

}
.{$ns}btn-clicked {
  &:after{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border-radius: inherit;
    border: 0 solid #2db7f5;
    opacity: .4;
    animation: buttonEffect .32s ease forwards;
    display: block;
  }
}

// 按钮尺寸
// -----------------------------------------------------------------------------
for $size-key, $size-size in $button-padding-sizes {
  .{$ns}btn-{$size-key} {
    button-size($size-size);
  }
}



// 块级按钮
// -----------------------------------------------------------------------------
// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.{$ns}btn.block,
  &.{$ns}btn.is-block {
    width: 100%;
  }
}

.{$ns}btn.block + .{$ns}btn.block,
.{$ns}btn.is-block + .{$ns}btn.is-block {
  margin-top: 8px;
}



/*
// Button with loading spinner
.{$ns}btn.{$ns}btn-loading {
  .icon-spin {
    margin-right: 5px;
  }
} */
