$kit-doc-blue = #38f;
$kit-doc-text-color = #333;
$kit-doc-text-light-blue = rgba(69, 90, 100, .6);
$kit-doc-grey = #999;
$kit-doc-dark-grey = #666;
$kit-doc-light-grey = #ccc;
$kit-doc-border-color = #eaeefb;
$kit-doc-code-color = #455a64;
$kit-doc-padding = 30px;

/* header */
$kit-doc-header-top-height = 60px;
$kit-doc-header-bottom-height = 50px;

/* simulator */
$kit-doc-simulator-width = 375px;
$kit-doc-simulator-small-width = 320px;
$kit-doc-simulator-height = 620px;
$kit-doc-simulator-small-height = 560px;

